hr {
  margin: 1.3rem auto;
  color: var(--border);
}

.post-header {
  display: flex;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}

.post-header li a {
  color: var(--alt-text);
  text-decoration: none;
}
.post-header li a:hover {
  color: var(--button);
}

.post-list,
.post-header {
  list-style: none;
}
.post .anchor-headline {
  font-size: 1.4em;
}
