form {
    text-align: center;
    font-weight: 800;
}

.label, .label-wrapper {margin: 1rem 0}

.label {
    display: block;
}

form input {
    background-color: var(--background);
    color: var(--headline);
    border-style: none;
    border-bottom: 2px solid var(--border);
    padding: 2px;
}

form input:focus {
    outline: none;
    border-bottom: 2px solid var(--button)
}